<template name="socialLayout">
	<header class="sl">
	  <ul id="slide-out" class="side-nav fixed">
	    <li><div class="userView">
	      <div class="background">
	      </div>
	      <a href="#!user"><img class="circle" src="{{avatarUrl}}"></a>
	      <a href="#!name"><span class="white-text name">{{fullName}}</span></a>
	      <a href="#!email"><span class="white-text email">{{email}}</span></a>
	    </div></li>
	    <li><a class="waves-effect" href="/beers">Liste des bières</a></li>
			<li><a class="waves-effect" href="/myfriends">Liste de mes amis</a></li>
			<li><a class="waves-effect" href="/friends">Trouver des amis</a></li>
	  </ul>
  	<nav>
    	<div class="nav-wrapper">
	      <a href="#" class="brand-logo">Brune Houblonde</a>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="">À propos de nous</a></li>
	      </ul>
	    </div>
	  </nav>
	</header>
	<main class="container sl">
		{{> Template.dynamic template=content}}
	</main>
</template>
