<template name="beer">
	<div class="card">
		<div class="card-image">
			<img src="beer.jpg">
			<span class="card-title">{{name}} – {{vol}}°</span>
			<!--
			{{#if liked}}
				<a class="unlike-beer btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">thumb_down</i></a>
			{{else}}
				<a class="like-beer btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">thumb_up</i></a>
			{{/if}}-->
		</div>
		<div class="card-content">
			<ul>
				<li><b>Couleur</b> {{color}}</li>
				<li><b>Brasseur</b> {{brewer}}</li>
				<li><b>Arôme</b> {{aroma}}</li>
			</ul>
			<p>{{history}}</p>
		</div>
		<div class="card-action">
			<a href="/beer/{{_id}}">Voir la bière de plus près</a>
		</div>
	</div>
</template>
