<template name="registerForm">
	<h3>Inscription</h3>
	<div class="row">
		<form id="register-form" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="r-username" type="text" class="validate">
					<label for="r-username">Nom d’utilisateur</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="r-first-name" type="text" class="validate">
					<label for="r-first-name">Prénom</label>
				</div>
				<div class="input-field col s6">
					<input id="r-last-name" type="text" class="validate">
					<label for="r-last-name">Nom</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="r-email" type="email" class="validate">
					<label for="r-email">Email</label>
				</div>
			</div>

			{{#unless partTwo}}
				{{#if nextEnabled}}
					<a id="r-next" class="waves-effect waves-light btn-large"><i class="material-icons left">navigate_next</i>Suivant</a>
				{{else}}
					<a class="waves-effect waves-light btn-large disabled"><i class="material-icons left" disabled>navigate_next</i>Suivant</a>
				{{/if}}
				<a id="r-login" class="waves-effect waves-light"><i class="material-icons left">navigate_next</i>Se connecter</a>
			{{/unless}}
			{{#if partTwo}}
				<div class="row">
					<div class="input-field col s12">
						<input id="r-password" type="password" class="validate">
						<label for="r-password">Mot de passe</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="r-password-2" type="password" class="validate">
						<label for="r-password-2">Mot de passe (vérification)</label>
					</div>
				</div>

				{{#if registerEnabled}}
					<button class="btn waves-effect waves-light btn-large" type="submit">S’inscrire
				    <i class="material-icons right">send</i>
				  </button>
				{{else}}
					<button class="btn waves-effect waves-light btn-large disabled" disabled type="submit">S’inscrire
						<i class="material-icons right">send</i>
					</button>
				{{/if}}
				<a id="r-login" class="waves-effect waves-light"><i class="material-icons left">navigate_next</i>Se connecter</a>
			{{/if}}
		</form>
	</div>
</template>
